/**
 * sass/_mixins.scss
 */

@import "variables";
@import "~bootstrap/scss/mixins/breakpoints";

@mixin overflow-ellipsis {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

@mixin no-text-select {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

@mixin color-transition($time: .2s) {
    -webkit-transition: color $time;
    transition: color $time;
}

@mixin border-color-transition($time: .2s) {
    -webkit-transition: border-color $time;
    transition: border-color $time;
}

@mixin background-color-transition($time: .2s) {
    -webkit-transition: background-color $time;
    transition: background-color $time;
}

@mixin margin-transition($time: .2s) {
    -webkit-transition: margin $time;
    transition: margin $time;
}

@mixin padding-transition($time: .2s) {
    -webkit-transition: padding $time;
    transition: padding $time;
}

@mixin position-transition($direction, $time: .2s) {
    -webkit-transition: $direction $time;
    transition: $direction $time;
}

@mixin width-transition($time: .2s) {
    -webkit-transition: width $time;
    transition: width $time;
}

@mixin height-transition($time: .2s) {
    -webkit-transition: height $time;
    transition: height $time;
}

@mixin shadow-transition($time: .2s) {
    -webkit-transition: box-shadow $time ease-in-out;
    transition: box-shadow $time ease-in-out;
}

@mixin border-radius($radius: 3px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-top-radius($radius: 3px) {
    -webkit-border-top-left-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-topright: $radius;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin border-right-radius($radius: 3px) {
    -webkit-border-top-right-radius: $radius;
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-radius-topright: $radius;
    -moz-border-radius-bottomRight: $radius;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
}

@mixin border-rounded {
    @include border-radius(1500px);
}

@mixin shadow($offsetX: 2px, $offsetY: 4px, $blurRadius: 5px, $spreadRadius: 0, $color: rgba(0,0,0,0.5)) {
    -webkit-box-shadow: $offsetX $offsetY $blurRadius $spreadRadius $color;
    -moz-box-shadow: $offsetX $offsetY $blurRadius $spreadRadius $color;
    box-shadow: $offsetX $offsetY $blurRadius $spreadRadius $color;
}

