/**
 * sass/admin.scss
 */

@import "variables";

.admin-container {

    .admin-nav-menu {

        border-radius: 0;

        .list-group-item.active {
            background-color: #fff;
            border: 1px solid rgba(0,0,0,0.25);
            border-left: 3px solid $blue;
            padding-left: 18px;
            color: #495057;
        }

    }

    .admin-overview-card {

        .card-header {
            h4 {
                margin-bottom: 0;
            }
        }

        .card-body {

            text-align: center;

            .icon {
                font-size: 96px;
                color: $blue;
            }
        }
    }

}
