/**
 * sass/app.scss
 */


$theme-colors: (
    /*"primary": #0074d9,
    "danger": #ff4136*/
);


$of-dark-base: #2e3339;
$of-dark: darken($of-dark-base, 5);
$of-dark-lighter: lighten($of-dark-base, 5);
$of-blue: #3490dc;


$dark-white: #fcfcfc;
$darker-white: #f9f9f9;

$light-gray: #e3e3e3;
$medium-gray: #c9c9c9;
$medium-dark-gray: #999;
$dark-gray: #686d63;

$enable-responsive-font-sizes: true;

$blue-highlight: #e3f3ff;
$purple-highlight: #fff3ff;
$green-highlight: #f3fff3;
$orange-highlight: #fff3e3;
$red-highlight: #fff3f3;
$red-highlight-transparent: rgba(255, 236, 236, .85);

$total-header-height: 61px;


@import "bootstrap";

//// Trix
@import 'trix.scss';

// Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.min.css';



body {
    min-height: 100vh;

    background-color: $dark-white;
}


.navbar {

    background-color: $white;

    img {
        max-height: 35px;
    }

    .navbar-nav {

        .active {
            border-bottom: 2px solid $of-blue;
        }
    }

    .solutions-dropdown {
        padding: 0;
        border-radius: 0;

        .dropdown-item {

            padding: 10px;

            .icon-container {
                font-size: 24px;
                padding-right: 8px;
                color: $of-dark-base;
                display: flex;
                align-items: center;
            }

            &:not(:first-child) {
                border-top: 1px solid $light-gray;
            }

            &.active {
                background-color: $darker-white;
                color: black;
                border-bottom: none;
            }


        }

    }
}


img {
    max-width: 100%;
}

.main-content {
    padding-top: 60px;
}



.footer {

    color: $light-gray;
    background-color: $of-dark;
    font-size: .9rem;
    padding-top: 20px;

    p {
        margin-bottom: 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    .os-gutter {
        padding-top: 20px;
        text-align: center;
        font-size: .8rem;
    }

}

.of-bg-dark {
    background-color: $of-dark;
    color: $white;
}





.jumbotron {
    background-color: $of-dark-lighter;
    color: $white;

    // https://codepen.io/joshuar/pen/qNBYLK
    background-image: radial-gradient(
            ellipse at center,
            //rgba(0,50,50,1) 0%,
            $of-dark-lighter 0%,
            //rgba(0,0,0,1) 100%
            $black 100%
    );

    @include media-breakpoint-down(sm) {
        text-align: center;

    }

    @include media-breakpoint-up(md) {

        .headings-container {
            padding-top: 100px;
        }

    }

    .operations-image-container {

        text-align: center;

        img {
            max-width: 100%;
            width: 400px;
        }

    }
}




.index {

    h2 {
        margin-top: 30px;
    }

    .feature-card {

        text-align: center;
        padding: 30px;
        margin-bottom: 30px;
        background-color: $white;

        @include shadow($blurRadius: 12px, $spreadRadius: 1px, $color: #d9d9d9);

        .fas,
        .far {
            font-size: 96px;
            display: block;
            color: $of-blue;
            border-bottom: 1px solid $light-gray;
            padding-bottom: 15px;
            margin-bottom: 15px;
        }

    }

    .feature-tab {

        padding: 15px;
        margin: 15px;
        background-color: $white;

        &.bg-dark {
            background-color: $of-dark;
            color: $white;
        }

        @include shadow();

        .icon-container {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .fas {
            font-size: 96px;
            display: block;
            color: $of-blue;
            padding: 25px 0;
        }

        h4 {
            font-weight: bold;
        }
    }


    .benefit-icon-container {

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .benefit-icon {
        font-size: 128px;

        .fas, .far {
            padding: 30px;
            color: $of-blue;
        }

    }


}



.business,
.it-teams {

    .of-bg-dark .benefit-icon .fas,
    .of-bg-dark .benefit-icon .far {
        color: $white;
    }

    .benefit-icon-container {

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .benefit-icon {
        font-size: 128px;

        .fas, .far {
            padding: 30px;
            color: $of-blue;
        }

    }

}


.features {

    img {
        max-width: 100%;
    }

}



.pricing {

    .pricing-icon-container {
        text-align: center;
        color: $of-blue;
        font-size: 96px;

        @include media-breakpoint-up(md) {
            font-size: 144px;
        }
    }

    .hosting-feature {

        .card {
            @include shadow();
        }

        text-align: center;
        margin-bottom: 15px;

        @include make-col-ready();

        @include make-col(10);

        @include media-breakpoint-up(sm) {
            @include make-col(6);
        }
        @include media-breakpoint-up(md) {
            @include make-col(4);
        }

        .check-icon {
            font-size: 32px;
            color: $of-blue;
        }

        p {
            margin-bottom: 0;
        }
    }

    .list-group {
    }
    .list-group-item {
        border-color: $dark-gray;
        background-color: $of-dark;
    }
}


.subscribed,
.verified {

    .mail-icon {
        font-size: 128px;
        color: $of-blue;
    }

}


.blog-list {

    .jumbotron {
        a {
            color: $white;
        }
    }

    a.card {
        color: $black;
        cursor: pointer;

        &:hover {
            text-decoration: none;

            h2,.read-more {
                text-decoration: underline;
            }
        }
    }
}

.blog-article {

    min-height: calc(100vh - 135px);

    background-image: radial-gradient(
            ellipse at center,
            $white,
            $dark-white
    );

    .article {
        padding: 30px;
        background-color: $white;

        @include shadow();

        @include media-breakpoint-up(md) {
            padding: 60px;
        }

        h3 {
            color: $dark-gray;
        }

        .article-footer {
            font-style: italic;
            color: $dark-gray;
        }
    }

}
