/**
 * sass/trix.scss
 */

@import "mixins";
@import '~trix/dist/trix.css';


trix-toolbar {

    border: 1px solid $medium-gray;
    background-color: $white;
    margin-bottom: -1px;
    z-index: 2;

    position: sticky;
    top: $total-header-height;

    .trix-button-row {
        justify-content: flex-start;
        overflow-x: auto;
    }

    .trix-button-group {
        border-radius: 0;
        border: 0;
        margin-bottom: 0;
    }

    .trix-button-group:not(:first-child) {
        margin-left: 7px;
    }

    .trix-button {
        padding: 9px 12px;
        font-size: 1rem;
        cursor: pointer;
        border: 0;


        &:enabled:not(.trix-active):hover {
            background-color: $light-gray;
        }

        &:not(:first-child) {
            border: 0;
        }

    }

    .trix-button.trix-active {
        background-color: $blue-highlight;
    }

}

trix-editor {
    border-radius: 0;
    min-height: 14em;

    border: 1px solid $medium-gray;
    padding: 15px;

    &.is-being-dragged-over {
        background-color: $blue-highlight;
    }

    // https://github.com/basecamp/trix/issues/130
    &:empty:not(:focus)::before {
        color: $medium-gray;
    }
}




.editor-content {
    line-height:1.5;
}
.editor-content * {
    box-sizing:border-box;
}

.editor-content h2 {
    font-size: 1.8em;
    margin: 10px 0 6px 0;
    font-weight: bold;
    @include media-breakpoint-down(sm) {
        font-size: 1.4em;
    }
}
.editor-content h3 {
    font-size: 1.4em;
    margin: 8px 0 6px 0;
    font-weight: bold;
    @include media-breakpoint-down(sm) {
        font-size: 1.25em;
    }
}

.editor-content blockquote {
    margin:6px 0 6px 0.3em;
    padding:0 0 0 0.6em;
    border-left:0.3em solid #ccc;
    color: #8a8a8a;
}
.editor-content pre {
    display:inline-block;
    width:100%;
    vertical-align:top;
    font-family:monospace;
    font-size:0.9em;
    margin:0;
    padding:0.5em;
    white-space:pre;
    background-color:#eee;
    overflow-x:auto;
}
.editor-content ul,
.editor-content ol {
    margin:6px 0;
    padding:0;
}
.editor-content ul li,
.editor-content ol li,
.editor-content li li {
    margin-left:1em;
    padding: 0;
}
.editor-content img {
    max-width:100%;
    height:auto;
}
.editor-content .attachment {
    display:inline-block;
    position:relative;
    max-width:100%;
    margin: 6px 0;
    padding:0;
}
.editor-content .attachment a {
    color:inherit;
    text-decoration:none;
}
.editor-content .attachment a:hover,
.editor-content .attachment a:visited:hover {
    color:inherit;
}
.editor-content .attachment__caption {
    padding:0;
    text-align:center;
}
.editor-content .attachment__caption .attachment__name+.attachment__size::before {
    content:' · ';
}
.editor-content .attachment--preview {
    width:100%;
    text-align:center;
}
.editor-content .attachment--preview .attachment__caption {
    color:#666;
    font-size:0.9em;
    line-height:1.2;
}
.editor-content .attachment--file {
    color:#333;
    line-height:1;
    margin:0 2px 2px 0;
    padding:0.4em 1em;
    border:1px solid #bbb;
    border-radius:5px;
}
.editor-content .attachment-gallery {
    display:flex;
    flex-wrap:wrap;
    position:relative;
    margin:0;
    padding:0;
}
.editor-content .attachment-gallery .attachment {
    flex:1 0 33%;
    padding:0 0.5em;
    max-width:33%;
}
.editor-content .attachment-gallery.attachment-gallery--2 .attachment,
.editor-content .attachment-gallery.attachment-gallery--4 .attachment {
    flex-basis:50%;
    max-width: 50%;
}
